@import url("https://fonts.googleapis.com/css?family=Open+Sans");
html {
  font-family: Arial;
  font-size: 16px;
  background: #5e42a6;
}

body{

    color:#fff;
}

i{
    text-align: center;
    width:100%;
}

.sidebar {
  position: fixed;
  width: 25%;
  height: 100vh;
  background: #312450;
  font-size: 0.65em;
}

.sidebar h1{

    font-size: 30px;
    text-align: center;
}

.nav {
  position: relative;
  margin: 0 15%;
  text-align: right;
  top: 50%;
  transform: translateY(-100%);
  font-weight: bold;
}

.nav ul {
  list-style: none;
}
.nav ul li {
  position: relative;
  margin: 3.2em 0;
}
.nav ul li a {
  line-height: 5em;
  text-transform: uppercase;
  text-decoration: none;
  letter-spacing: 0.4em;
  color: rgba(255, 255, 255, 0.35);
  display: block;
  transition: all ease-out 300ms;
}
.nav ul li.active a {
  color: white;
}
.nav ul li:not(.active)::after {
  opacity: 0.2;
}
.nav ul li:not(.active):hover a {
  color: rgba(255, 255, 255, 0.75);
}
.nav ul li::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 0.2em;
  background: black;
  left: 0;
  bottom: 0;
  background-image: linear-gradient(to right, #5e42a6, #b74e91);
}

.twitter {
  position: relative;
  width: 75%;
  float: right;
  height: 100vh;
}

.twitter .container {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  /* height: 100%; */
}

.twitter .container .box{

    display: flex;
    flex-direction: column;
    align-items: center;
}
.btn {
    /* 
Button should wrap accross 100% and display as block
Background color for button is #49c1a2
*/
    width: 80%;
    display: block;
    color: #fff;
    font-size:25px;
    padding: 10px;
    border: none;
    cursor:pointer;
    border-radius: 5px;
    background: #49c1a2;
    margin: 20px 0 20px;
    text-align: center;
}

.btn:hover {
    /* 
Hover background color for button is #37a08e
*/
    background: #37a08e;
}

.twitter{

    margin-top: 120px;
}
.twitter .container{

    /* width:33%; */
    display: flex;
    /* flex-wrap: wrap; */
    justify-content: center;
    align-items: center;
}

.twitter .container .box{

    margin:30px;
    
}

.twitter .container .box img{

    width:250px;
}

@media (max-width:600px){

    .sidebar{

        width:35%;
    }

    .box{

        padding:40px;
    }

    .twitter .container .box{

        margin-left: 140px;
    }

    .twitter .container .box img{

        display: inline-block;
        width:200px;
    }
}