@import url("https://fonts.googleapis.com/css?family=Open+Sans");
html {
  font-family: Arial;
  font-size: 16px;
  background: #5e42a6;
}

body{

    color:#fff;
}

i{
    text-align: center;
    width:100%;
}

.sidebar {
  position: fixed;
  width: 25%;
  height: 100vh;
  border-radius: 13px;
  background: #312450;
  font-size: 0.65em;
}

.sidebar h1{

    font-size: 30px;
    text-align: center;
}

.nav {
  position: relative;
  margin: 0 15%;
  text-align: right;
  top: 50%;
  transform: translateY(-100%);
  font-weight: bold;
}

.nav ul {
  list-style: none;
}
.nav ul li {
  position: relative;
  margin: 3.2em 0;
}
.nav ul li a {
  line-height: 5em;
  text-transform: uppercase;
  text-decoration: none;
  letter-spacing: 0.4em;
  color: rgba(255, 255, 255, 0.35);
  display: block;
  transition: all ease-out 300ms;
}
.nav ul li.active a {
  color: white;
}
.nav ul li:not(.active)::after {
  opacity: 0.2;
}
.nav ul li:not(.active):hover a {
  color: rgba(255, 255, 255, 0.75);
}
.nav ul li::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 0.2em;
  background: black;
  left: 0;
  bottom: 0;
  background-image: linear-gradient(to right, #5e42a6, #b74e91);
}

.btn {
    /* 
Button should wrap accross 100% and display as block
Background color for button is #49c1a2
*/
    width: 80%;
    display: block;
    color: #fff;
    font-size:25px;
    padding: 10px;
    border: none;
    cursor:pointer;
    border-radius: 5px;
    background-color: #f4f4f4;
    margin: 20px 0 20px;
    text-align: center;
}

.btn:hover {
    /* 
Hover background color for button is #37a08e
*/
    background: #37a08e;
}

.twitter {
  position: relative;
  width: 70%;
  float: right;
  height: 90vh;
  background: #312450;
  border-radius: 13px;
  margin-top:30px;
}

.twitter .container {
  
  display: flex;

}

.twitter .container .info-left {

  width:70%;
}

.btn {
    /* 
Button should wrap accross 100% and display as block
Background color for button is #49c1a2
*/
    width: 55%;
    display: block;
    color: #333;
    font-size: 40px;
    padding: 30px;
    border: none;
    cursor: pointer;
    border-radius: 5px;
    background: #f4f4f4;
    text-align: center;
    margin: 20px;
    display: flex;
    justify-content: space-around;
}

    .btn:hover {
        /* 
Hover background color for button is #37a08e
*/
        background: #37a08e;
    }

@media (max-width:600px){

  .sidebar {
    position: fixed;
    max-width: 42%;
    padding:20px;
    height: 90vh;
    background: #312450;
    font-size: 0.65em;
  }

  .twitter {
    position: relative;
    width: 60%;
    float: right;
    height: 95vh;
    background: #312450;
    border-radius: 13px;
    margin-top:5px;
  }

  .twitter .container .box{
    margin-top: 30px;
  }

  .btn {
    /* 
Button should wrap accross 100% and display as block
Background color for button is #49c1a2
*/
    width: 108%;
    font-size: 30px;
}
}